body#layout #outer-wrapper{ padding:0;  width:800px}
body#layout #loader, body#layout #status{display:none}
body#layout .section h4{color:#333!important; text-align:center; text-transform:uppercase; letter-spacing:1.5px}
body#layout #content-wrapper{ margin:0 auto}

body#layout #main-wrapper{ float:left;  width:70%;  margin:0;  padding:0}

body#layout #sidebar-wrapper{float:right; width:30%; margin:0; padding:0; display:block; visibility:visible; height:auto; opacity:1}
body#layout #sidebar-wrapper .section{ background-color:#fff;  border:1px solid #fff}
body#layout #sidebar-wrapper .section .widget-content{ border-color:#5a7ea2!important}
body#layout #sidebar-wrapper .section .draggable-widget .widget-wrap2{ background-color:#5a7ea2!important}

body#layout #main-wrapper #main{ margin-right:4px;  background-color:#5a7ea2;  border-color:#34495e}
body#layout #main-wrapper #main h4{ color:#fff!important}
body#layout .layout-widget-description{ display:none!important}
body#layout #Blog1 .widget-content{ border-color:#34495e}
body#layout #lowerbar-wrapper{width:33.33%; float:left}
body#layout .top-bar-menu, body#layout .top-meta-menu{ width:50%}
body#layout .headerleft{ width:356px}
body#layout .headerright{ width:400px;  padding:0}
body#layout .headerleft{ display:block}
body#layout .header-social{ display:block}
body#layout .mega-menu-full{ display:none}
body#layout .vertical-menu{ width:50%;  float:left}
body#layout .feat-slider-wrap{ width:50%;  float:right}
